In [3]:
import pandas as pd
from pathlib import Path

poverty_2015 = pd.read_csv("Data_Resources_Yearly/Poverty_2015.csv")
poverty_2016 = pd.read_csv("Data_Resources_Yearly/Poverty_2016.csv")
poverty_2017 = pd.read_csv("Data_Resources_Yearly/Poverty_2017.csv")
poverty_2018 = pd.read_csv("Data_Resources_Yearly/Poverty_2018.csv")
poverty_2019 = pd.read_csv("Data_Resources_Yearly/Poverty_2019.csv")

poverty_2015.head()

,GEO_ID,NAME,S1702_C01_001E,S1702_C01_001M,S1702_C02_001E,S1702_C02_001M,S1702_C03_001E,S1702_C03_001M,S1702_C04_001E,S1702_C04_001M,...,S1702_C02_050M,S1702_C03_050E,S1702_C03_050M,S1702_C04_050E,S1702_C04_050M,S1702_C05_050E,S1702_C05_050M,S1702_C06_050E,S1702_C06_050M,Unnamed: 602
0,Geography,Geographic Area Name,All families!!Total!!Estimate!!Families,All families!!Total!!Margin of Error!!Families,All families!!Percent below poverty level!!Est...,All families!!Percent below poverty level!!Mar...,Married-couple families!!Total!!Estimate!!Fami...,Married-couple families!!Total!!Margin of Erro...,Married-couple families!!Percent below poverty...,Married-couple families!!Percent below poverty...,...,All families!!Percent below poverty level!!Mar...,Married-couple families!!Total!!Estimate!!ALL ...,Married-couple families!!Total!!Margin of Erro...,Married-couple families!!Percent below poverty...,Married-couple families!!Percent below poverty...,"Female householder, no husband present!!Total!...","Female householder, no husband present!!Total!...","Female householder, no husband present!!Percen...","Female householder, no husband present!!Percen...",NaN
1,1600000US0600562,"Alameda city, California",19545,1001,5.2,2.4,15108,1269,4.3,2.5,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,1600000US0600884,"Alhambra city, California",20710,1010,11.8,3.3,14206,1326,10.3,3.9,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,1600000US0602000,"Anaheim city, California",72712,2056,11.8,2.1,50630,2625,8.8,2.0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,1600000US0602252,"Antioch city, California",25806,1307,11.8,4.8,16848,1584,3.6,2.0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [4]:
df = [
    (poverty_2015, "2015"),
    (poverty_2016, "2016"),
    (poverty_2017, "2017"),
    (poverty_2018, "2018"),
    (poverty_2019, "2019")]

In [5]:

def clean(df):
    clean_df = []
    for dataframe, year in df:
            dataframe = dataframe.drop(columns=[column for column in dataframe.columns if column.endswith('M')])
            dataframe = dataframe.drop(columns=["GEO_ID"])
            dataframe = dataframe.drop(columns=dataframe.columns[dataframe.apply(lambda col: col.astype(str).str.contains('\(X\)').any())])
            dataframe["NAME"] = dataframe["NAME"].str.replace(', California|city|CDP|town', '', regex=True)
            dataframe["NAME"] = dataframe["NAME"].str.strip()
            dataframe = dataframe.drop(columns=dataframe.columns[(dataframe.astype(str) == 'N').all()])
            dataframe["Year"] = year   
            dataframe = dataframe[["Year", "NAME", "S1702_C02_001E", "S1702_C02_002E", "S1702_C02_015E",
                                   "S1702_C02_017E", "S1702_C02_020E", "S1702_C02_021E", "S1702_C02_022E",
                                   "S1702_C02_023E", "S1702_C02_024E", "S1702_C02_025E", "S1702_C02_026E",
                                   "S1702_C02_027E", "S1702_C02_028E", "S1702_C02_029E", "S1702_C02_030E",
                                   "S1702_C02_031E", "S1702_C02_032E", "S1702_C02_033E", "S1702_C02_034E",
                                   "S1702_C02_035E", "S1702_C02_036E", "S1702_C02_037E", "S1702_C02_038E",
                                   "S1702_C02_039E", "S1702_C02_041E", "S1702_C02_042E"]]
            dataframe = dataframe.rename(columns={
                "NAME": "City",
                "S1702_C02_001E": "% All Families",
                "S1702_C02_002E": "% With related children of householder under 18 years",
                "S1702_C02_015E": "% Householder worked",
                "S1702_C02_017E": "% Householder 65 years and over",
                "S1702_C02_020E": "% less than high school graduate",
                "S1702_C02_021E": "% High school graduate",
                "S1702_C02_022E": "% Some college, associate degree",
                "S1702_C02_023E": "% Bachelor's degree or higher",
                "S1702_C02_024E": "% No related children under 18",
                "S1702_C02_025E": "% 1-2 related children under 18 ",
                "S1702_C02_026E": "% 3-4 related children under 18",
                "S1702_C02_027E": "% 5 or more related children under 18",
                "S1702_C02_028E": "% No own children under 18",
                "S1702_C02_029E": "% 1-2 own children under 18 ",
                "S1702_C02_030E": "% 3-4 own children under 18",
                "S1702_C02_031E": "% 5 or more own children under 18",
                "S1702_C02_032E": "% Family size 2",
                "S1702_C02_033E": "% Family size 3-4",
                "S1702_C02_034E": "% Family size 5-6",
                "S1702_C02_035E": "% Family size more than 7",
                "S1702_C02_036E": "% No workers in Family",
                "S1702_C02_037E": "% 1 workers in Family",
                "S1702_C02_038E": "% 2 workers in Family",
                "S1702_C02_039E": "% 3 or more workers in Family",
                "S1702_C02_041E": "% Owner occupied",
                "S1702_C02_042E": "% Renter occupied"})
            dataframe = dataframe.drop(dataframe.index[0])
            clean_df.append(dataframe)
    return clean_df
cleaned_df = clean(df)

In [6]:
cleaned_df[0]

,Year,City,% All Families,% With related children of householder under 18 years,% Householder worked,% Householder 65 years and over,% less than high school graduate,% High school graduate,"% Some college, associate degree",% Bachelor's degree or higher,...,% Family size 2,% Family size 3-4,% Family size 5-6,% Family size more than 7,% No workers in Family,% 1 workers in Family,% 2 workers in Family,% 3 or more workers in Family,% Owner occupied,% Renter occupied
1,2015,Alameda,5.2,5.7,3.1,2.6,16.2,13.3,6.1,2.2,...,6.1,3.6,9.4,7.8,17.1,5.0,2.9,2.7,1.3,9.1
2,2015,Alhambra,11.8,15.3,7.0,17.7,23.8,19.2,8.1,4.0,...,8.2,15.3,6.2,0.0,34.0,17.5,4.3,0.0,6.5,16.6
3,2015,Anaheim,11.8,17.3,9.4,4.2,19.7,15.0,8.3,5.5,...,7.8,12.6,17.7,6.6,30.5,20.7,7.3,1.3,3.1,19.6
4,2015,Antioch,11.8,17.3,7.6,5.3,31.8,17.6,6.2,7.1,...,14.6,13.6,5.9,3.0,38.9,15.8,2.1,0.0,5.0,21.9
5,2015,Apple Valley,19.3,26.4,16.7,4.0,39.7,21.9,18.6,1.2,...,12.8,17.0,28.6,71.6,28.4,24.7,5.4,5.6,8.5,39.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2015,West Covina,5.8,8.3,4.4,7.2,16.6,6.8,4.6,2.0,...,7.8,2.8,9.1,6.6,20.5,9.0,3.2,0.7,3.1,11.5
134,2015,Westminster,15.2,20.7,10.1,12.5,25.8,21.2,13.1,7.7,...,13.4,16.2,15.4,18.2,36.1,21.8,9.5,3.5,7.6,26.0
135,2015,Whittier,8.8,12.9,6.8,6.3,26.2,5.0,10.3,1.2,...,9.2,7.9,11.2,6.1,27.4,12.5,4.4,0.0,4.3,15.4
136,2015,Yorba Linda,4.2,6.5,2.0,2.0,12.9,10.6,2.6,3.3,...,5.1,2.0,9.4,0.0,19.5,3.2,1.4,0.0,2.5,12.9
137,2015,Yuba City,16.9,22.0,11.3,15.0,32.2,18.6,13.3,5.9,...,12.8,23.2,12.7,8.8,33.0,23.2,5.7,11.1,2.7,31.0

In [7]:
years = ["2015", "2016", "2017", "2018", "2019"]
file_name = {f"Cleaned_Poverty_{year}": df for df, year in zip(cleaned_df, years)}
for name, df in file_name.items():
    csv_path= f"{name}.csv"
    df.to_csv(csv_path, index=False)

In [8]:
import numpy as np
combined_clean = pd.read_csv("combined_clean.csv")
combined_clean

,Year,City,% All Families,% With related children of householder under 18 years,% Householder worked,% Householder 65 years and over,% less than high school graduate,% High school graduate,"% Some college, associate degree",% Bachelor's degree or higher,...,% Family size 2,% Family size 3-4,% Family size 5-6,% Family size more than 7,% No workers in Family,% 1 workers in Family,% 2 workers in Family,% 3 or more workers in Family,% Owner occupied,% Renter occupied
0,2015,Alameda,5.2,5.7,3.1,2.6,16.2,13.3,6.1,2.2,...,6.1,3.6,9.4,7.8,17.1,5,2.9,2.7,1.3,9.1
1,2015,Alhambra,11.8,15.3,7.0,17.7,23.8,19.2,8.1,4,...,8.2,15.3,6.2,0,34,17.5,4.3,0,6.5,16.6
2,2015,Anaheim,11.8,17.3,9.4,4.2,19.7,15,8.3,5.5,...,7.8,12.6,17.7,6.6,30.5,20.7,7.3,1.3,3.1,19.6
3,2015,Antioch,11.8,17.3,7.6,5.3,31.8,17.6,6.2,7.1,...,14.6,13.6,5.9,3,38.9,15.8,2.1,0,5.0,21.9
4,2015,Apple Valley,19.3,26.4,16.7,4.0,39.7,21.9,18.6,1.2,...,12.8,17,28.6,71.6,28.4,24.7,5.4,5.6,8.5,39.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,2019,West Covina,4.1,5.2,1.5,3.9,11.3,4.6,3.2,1.8,...,6.2,3.3,4.1,2.6,20.2,5.4,1.4,0.5,2.8,6.5
700,2019,Westminster,13.5,21.3,8.6,12.5,20.4,13,15.4,5.5,...,11.9,14.8,9.8,22.6,26.5,23.3,6.5,1.1,3.9,22.5
701,2019,Whittier,4.7,6.1,3.2,7.2,14,8.2,0.3,4.5,...,6.3,4.1,2.6,9.7,10.7,8.2,1.1,1.5,2.8,8.5
702,2019,Yorba Linda,3.5,7.8,2.7,0.0,0,9.8,4.8,1.9,...,2.8,4.8,0,0,9.3,4.8,2.1,1.3,3.2,5.5
703,2019,Yuba City,11.3,17.6,6.5,15.7,22.8,19.6,10,0,...,7.9,17.2,9,0,41,8.4,8.3,0,2.8,22.2

In [9]:
poverty_all_f = combined_clean[["Year", "City", "% All Families"]]
poverty_all_f

     Year          City % All Families
0    2015       Alameda            5.2
1    2015      Alhambra           11.8
2    2015       Anaheim           11.8
3    2015       Antioch           11.8
4    2015  Apple Valley           19.3
..    ...           ...            ...
699  2019   West Covina            4.1
700  2019   Westminster           13.5
701  2019      Whittier            4.7
702  2019   Yorba Linda            3.5
703  2019     Yuba City           11.3

[704 rows x 3 columns]

In [10]:
csv_path_1= f"All_Family_Poverty.csv"
poverty_all_f.to_csv(csv_path_1, index=False)