In [1]:
import pandas as pd
from pathlib import Path

age_2010 = pd.read_csv("Age_Yearly/Age_2010.csv")
age_2011 = pd.read_csv("Age_Yearly/Age_2011.csv")
age_2012 = pd.read_csv("Age_Yearly/Age_2012.csv")
age_2013 = pd.read_csv("Age_Yearly/Age_2013.csv")
age_2014 = pd.read_csv("Age_Yearly/Age_2014.csv")

age_2010

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0079PM,DP05_0080E,DP05_0080M,DP05_0080PE,DP05_0080PM,DP05_0081E,DP05_0081M,DP05_0081PE,DP05_0081PM,Unnamed: 326
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate Margin of Error!!SEX AND AGE!!Total p...,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Male,Estimate Margin of Error!!SEX AND AGE!!Male,Percent!!SEX AND AGE!!Male,Percent Margin of Error!!SEX AND AGE!!Male,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Estimate!!HISPANIC OR LATINO AND RACE!!Not His...,Estimate Margin of Error!!HISPANIC OR LATINO A...,Percent!!HISPANIC OR LATINO AND RACE!!Not Hisp...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Estimate!!Total housing units,Estimate Margin of Error!!Total housing units,Percent!!Total housing units,Percent Margin of Error!!Total housing units,NaN
1,1600000US0600562,"Alameda city, California",73981,43,73981,(X),34930,1513,47.2,2.0,...,0.2,3136,1178,4.2,1.6,30713,1726,(X),(X),NaN
2,1600000US0600884,"Alhambra city, California",83202,49,83202,(X),38154,2340,45.9,2.8,...,0.2,476,340,0.6,0.4,29941,2123,(X),(X),NaN
3,1600000US0602000,"Anaheim city, California",337259,65,337259,(X),171859,3832,51.0,1.1,...,0.2,5039,1566,1.5,0.5,107363,3666,(X),(X),NaN
4,1600000US0602252,"Antioch city, California",102745,30,102745,(X),49453,2159,48.1,2.1,...,0.6,1790,851,1.7,0.8,35266,2521,(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,1600000US0682996,"Vista city, California",94170,43,94170,(X),46219,2282,49.1,2.4,...,0.5,1418,1151,1.5,1.2,31400,2069,(X),(X),NaN
124,1600000US0684200,"West Covina city, California",106221,36,106221,(X),47114,2237,44.4,2.1,...,0.2,1025,775,1.0,0.7,32638,1975,(X),(X),NaN
125,1600000US0684550,"Westminster city, California",89971,49,89971,(X),45410,2050,50.5,2.3,...,N,N,N,N,N,27687,1515,(X),(X),NaN
126,1600000US0685292,"Whittier city, California",85433,31,85433,(X),41996,2341,49.2,2.7,...,0.5,507,329,0.6,0.4,29029,2153,(X),(X),NaN
127,1600000US0686832,"Yorba Linda city, California",64414,40,64414,(X),33313,1132,51.7,1.8,...,0.3,1533,740,2.4,1.1,21704,1122,(X),(X),NaN

In [2]:
df = [
    (age_2010, "2010"),
    (age_2011, "2011"),
    (age_2012, "2012"),
    (age_2013, "2013"),
    (age_2014, "2014")]

In [3]:
def clean(df):
    clean_df = []
    for dataframe, year in df:
            dataframe = dataframe.drop(columns=["GEO_ID"])
            dataframe["NAME"] = dataframe["NAME"].str.replace(', California|city|CDP|town', '', regex=True)
            dataframe["NAME"] = dataframe["NAME"].str.strip()
            dataframe["Year"] = year   
            dataframe = dataframe[["Year", "NAME", "DP05_0001E", "DP05_0004E", "DP05_0004PE",
                                   "DP05_0005E", "DP05_0005PE", "DP05_0006E", "DP05_0006PE",
                                   "DP05_0007E", "DP05_0007PE", "DP05_0008E", "DP05_0008PE",
                                   "DP05_0009E", "DP05_0009PE", "DP05_0010E", "DP05_0010PE",
                                   "DP05_0011E", "DP05_0011PE", "DP05_0012E", "DP05_0012PE",
                                   "DP05_0013E", "DP05_0013PE", "DP05_0014E", "DP05_0014PE", 
                                   "DP05_0015E", "DP05_0015PE", "DP05_0016E", "DP05_0016PE"]]
            dataframe = dataframe.rename(columns={
                "NAME": "City",
                "DP05_0001E": "Total population",
                "DP05_0004E": "Under 5 years",
                "DP05_0004PE": "Percent Under 5 years",
                "DP05_0005E": "5 to 9 years",
                "DP05_0005PE": "Percent 5 to 9 years",
                "DP05_0006E": "10 to 14 years",
                "DP05_0006PE": "Percent 10 to 14 years",
                "DP05_0007E": "15 to 19 years",
                "DP05_0007PE": "Percent 15 to 19 years",
                "DP05_0008E": "20 to 24 years",
                "DP05_0008PE": "Percent 20 to 24 years",
                "DP05_0009E": "25 to 34 years",
                "DP05_0009PE": "Percent 25 to 34 years",
                "DP05_0010E": "35 to 44 years",
                "DP05_0010PE": "Percent 35 to 44 years",
                "DP05_0011E": "45 to 54 years",
                "DP05_0011PE": "Percent 45 to 54 years",
                "DP05_0012E": "55 to 59 years",
                "DP05_0012PE": "Percent 55 to 59 years",
                "DP05_0013E": "60 to 64 years",
                "DP05_0013PE": "Percent 60 to 64 years",
                "DP05_0014E": "65 to 74 years",
                "DP05_0014PE": "Percent 65 to 74 years",
                "DP05_0015E": "75 to 84 years",
                "DP05_0015PE": "Percent 75 to 84 years",
                "DP05_0016E": "85 years and over",
                "DP05_0016PE": "Percent 85 years and over",
            })
            dataframe = dataframe.drop(dataframe.index[0])
            clean_df.append(dataframe)
    return clean_df
cleaned_df = clean(df)

In [4]:
years = ["2010", "2011", "2012", "2013", "2014"]
file_name = {f"Cleaned_Age_{year}": df for df, year in zip(cleaned_df, years)}
for name, df in file_name.items():
    csv_path= f"{name}.csv"
    df.to_csv(csv_path, index=False)