In [1]:
import pandas as pd
import numpy as np 
from pathlib import Path
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
# Read salary data
file_path = Path("All_data_cleaned.csv")
crime = pd.read_csv(file_path)

# Display sample data
crime.head()

,Year,City,Percent Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - High School Graduate (and equivalent),"Percent Population 25 years and over - Some college, no degree",Percent Population 25 years and over - Associate's degree,Percent Population 25 years and over - Bachelor's degree,Percent Population 25 years and over - Graduate or Prefessional Degree,Total population,...,Percent 75 to 84 years,Percent 85 years and over,Violent Crimes Sum,Unemployment Rate,Income,House price mean,% All Families,Crime_Rate_per_100k,Percent Home Occupied,Percent Renter Occupied
0,2015,Alhambra,8.3,7.6,28.8,14.5,6.0,22.9,11.9,85572.0,...,3.8,2.6,168.0,4.1,29362.0,524186.5,11.8,196.325901,41.495811,58.504189
1,2015,Anaheim,14.4,11.4,23.6,21.1,6.4,17.4,5.8,350738.0,...,2.9,1.6,1271.0,6.7,99991.0,479128.8,11.8,362.378756,43.471912,56.528088
2,2015,Bakersfield,10.6,10.2,28.8,21.1,7.9,13.9,7.5,373627.0,...,2.5,0.9,1810.0,10.4,114383.0,214306.0,14.3,484.440364,57.775194,42.224806
3,2015,Baldwin Park,22.1,12.3,31.1,14.3,6.3,10.8,3.2,77056.0,...,2.8,1.2,299.0,4.5,18541.0,343992.4,14.4,388.029485,54.430721,45.569279
4,2015,Bellflower,11.5,12.8,26.6,21.6,8.0,14.7,4.9,78434.0,...,3.6,1.3,373.0,5.5,21729.0,391641.0,10.9,475.559069,40.075475,59.924525

In [3]:
# Define features set
X = crime.copy()
X.drop(columns=["Crime_Rate_per_100k", "City"], axis=1, inplace=True)
X.head()

,Year,Percent Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - High School Graduate (and equivalent),"Percent Population 25 years and over - Some college, no degree",Percent Population 25 years and over - Associate's degree,Percent Population 25 years and over - Bachelor's degree,Percent Population 25 years and over - Graduate or Prefessional Degree,Total population,Percent Under 5 years,...,Percent 65 to 74 years,Percent 75 to 84 years,Percent 85 years and over,Violent Crimes Sum,Unemployment Rate,Income,House price mean,% All Families,Percent Home Occupied,Percent Renter Occupied
0,2015,8.3,7.6,28.8,14.5,6.0,22.9,11.9,85572.0,4.5,...,9.0,3.8,2.6,168.0,4.1,29362.0,524186.5,11.8,41.495811,58.504189
1,2015,14.4,11.4,23.6,21.1,6.4,17.4,5.8,350738.0,7.1,...,5.8,2.9,1.6,1271.0,6.7,99991.0,479128.8,11.8,43.471912,56.528088
2,2015,10.6,10.2,28.8,21.1,7.9,13.9,7.5,373627.0,7.9,...,6.1,2.5,0.9,1810.0,10.4,114383.0,214306.0,14.3,57.775194,42.224806
3,2015,22.1,12.3,31.1,14.3,6.3,10.8,3.2,77056.0,6.0,...,9.0,2.8,1.2,299.0,4.5,18541.0,343992.4,14.4,54.430721,45.569279
4,2015,11.5,12.8,26.6,21.6,8.0,14.7,4.9,78434.0,7.8,...,6.6,3.6,1.3,373.0,5.5,21729.0,391641.0,10.9,40.075475,59.924525

In [4]:
y = crime["Crime_Rate_per_100k"].values.reshape(-1, 1)
y[:5]

array([[196.325901  ],
       [362.37875565],
       [484.44036432],
       [388.02948505],
       [475.55906877]])

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=8)

In [6]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [7]:
# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [8]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Create the random forest classifier instance
regressor = RandomForestRegressor(n_estimators=1000, random_state=8)

In [10]:
# Fit the model and use .ravel()on the "y_train" data. 
regressor = regressor.fit(X_train_scaled, y_train.ravel())

In [11]:
# Making predictions using the testing data
predictions = regressor.predict(X_test_scaled)

In [12]:
# Check if 'predictions' is not 1-dimensional and reshape if necessary
if predictions.ndim != 1:
    predictions = predictions.flatten()

# Check if 'y_test' is not 1-dimensional and reshape if necessary
if y_test.ndim != 1:
    y_test = y_test.flatten()

In [13]:
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results

      Prediction       Actual
0     139.757663   118.446400
1     354.177214   364.741173
2     432.664979   338.619048
3     193.799706   165.894566
4     447.333944   496.531701
..           ...          ...
144   394.208288   344.430618
145   376.959423   365.907638
146   508.881860   530.907501
147    81.996044    77.345272
148  1086.806693  1442.663701

[149 rows x 2 columns]

In [14]:
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)
r2 = r2_score(y_test, predictions)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R²): {r2}")

Mean Absolute Error (MAE): 34.0395249362898
Mean Squared Error (MSE): 2950.892650118871
Root Mean Squared Error (RMSE): 54.32211934487526
R-squared (R²): 0.9469184155823349

C:\Users\EJ-PC\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [15]:
errors = abs(predictions - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(mae, 2), 'degrees.')

# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)

# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Mean Absolute Error: 34.04 degrees.
Accuracy: 89.81 %.